h1{
  color:red;
  font size: 300px;
}
h2{
    color:red;
  font size:20px;

}

body {
    text-align: center;
    padding-top: 250px;
    color: black;
    font-family: helvetica;
    background: url("cocktail.jpg");
    background-size: cover;
    font size: 100px;
  }
header{
    text-align:center;
  }
ul{padding: 10px;
  padding: 0px 10px 0px 10px;
}
li{ color:red;
      display:inline;
    }
a{color:white;
}
<<<<<<< HEAD
=======

  #social-buttons button {
  color: white
  }

  .btn-twitter {
  background: #00acee;
  border-color: #009ad5;
  }
  .btn-facebook {
  background: #4868ac;
  border-color: #314776;
  }
  .btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
  }
  .btn-snapchat {
    background:green;
    border-color:yellow;
  }
>>>>>>> 183f5b783546470cb615f0abd84b4bb8fb7974f9
