h1 {
font-family: 'Josefin Sans', sans-serif;
text-align: center;
margin: 0px 0 0 0;
color: #ffff;
font-size: 60px;
}
h2 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color:#ffff;
  font-size:38px;
  margin-top: 260px;
}
h3 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  color:#ffff;
  font size:40px;
}


body {
    text-align: center;

    color: black;
    font-family: 'roboto';
    background: url("./images/cocktail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
  }
header{

    text-align: center;
  }
ul {
  padding: 10px;
  padding: 0px 10px 0px 10px;
}
li {
  color:red;
  display:inline;
}
a {
  color:white;
  font-size: 20px;
}
p {
  color: #ffff;
}
#news {
  margin-top: 180px;
}
#front {
  color: #ffff;
  margin-top: 50px;
}

  #social-buttons button {
  color: white
  }

  .btn-twitter {
  background: #00acee;
  border-color: #009ad5;
  }
  .btn-facebook {
  background: #4868ac;
  border-color: #314776;
  }
  .btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
  }
  .btn-snapchat {
    background:#FFD700;
    border-color:#FFD700;
  }
