div{border-bottom: 5px solid black;}

body{background-color: rgb(219,112,147);}

h1{text-align: center;}


.recipe1 ul{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;
}
.recipe1 ol{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;
}



.recipe2 ul{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;
}
.recipe2 ol{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;}

.recipe3 ul{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;
}
.recipe3 ol{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;}

.recipe4 ul{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;
}
.recipe4 ol{
  font-size: 15px;
font-family: helvetica;
indent:10px;
list-style: none;}

 img{
float:left;
position: absolute;
}

header li{
    text-align:center;
  display: inline;
line-style:none; }
